<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/assets/css/main.min.css">
  <link rel="stylesheet" href="/assets/css/docs.min.css">
</head>


  <body>
    <header class="l-header">
  <div class="l-header__container l-container">
    <div class="l-header__logo">
      <h1 class="l-header__title">
        <a class="l-header__link" href="/">Kevlr</a>
      </h1>
    </div>
    <nav class="l-header__nav">
      <ul class="l-header__list">
        <li class="l-header__item">
          <a class="l-header__link" href="/settings">Settings</a>
        </li>
        <li class="l-header__item">
          <a class="l-header__link l-header__link--active" href="/components">Components</a>
        </li>
        <li class="l-header__item">
          <a class="l-header__link" href="/test-drive">Test Drive</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


    <main class="main" aria-label="Content">
			<div class="l-container">
				<div id="title">
	<h2 class="o-title u-text-large u-margin-bottom-0-5x">Title</h2>
	<p>Use the <code class="highlighter-rouge">o-title</code> class to style any title ouside the body copy. Then add the <code class="highlighter-rouge">u-text-*modifier*</code> class to choose the size wanted.</p>

	<div class="c-component">
		<div class="c-component__preview">
			<h2 class="o-title u-text-xlarge">Extra large title</h2>
<h2 class="o-title u-text-large">Large title</h2>
<h2 class="o-title u-text-medium">Medium title</h2>
<h2 class="o-title u-text-small">Small title</h2>

		</div>
		<div class="c-component__code">
			<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"o-title u-text-xlarge"</span><span class="nt">&gt;</span>Extra large title<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"o-title u-text-large"</span><span class="nt">&gt;</span>Large title<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"o-title u-text-medium"</span><span class="nt">&gt;</span>Medium title<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"o-title u-text-small"</span><span class="nt">&gt;</span>Small title<span class="nt">&lt;/h2&gt;</span></code></pre></figure>
		</div>
	</div>
</div>

				<a href="/components/#title">Back to component list</a>
			</div>
    </main>

  </body>

</html>
